@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline text-gray-500 hover:text-indigo-600;
  }
  p {
    @apply max-w-prose sm:text-xl sm:leading-relaxed
  }
}

::selection {
  background-color: #4f46e5;
  color: #fefefe;
}